body{
  background-color:white;
  font:13.34px helvetica,arial,freesans,clean,sans-serif;
  margin:0px;
}

#main_container{
  width:100%;
}
#header_bar{
  background-color:#CECECE;
  height:50px;
}

#header_bar .nav_bar{
  padding-top:10px;
}

#logo{
  float:left;
  padding-left:10%;
}
#header_links{
  float:right;
  padding-right:10%;
}
#container{
  width:80%;
  border:1px solid black;
  margin-left:10%;
  margin-right:10%;
  margin-top:10px;
}
#container .nav_bar{
  height:40px;
  background-color:#CECDCD;
}

#container .nav_bar a{
  padding:5px;
  background-color:#000000;
  color:#FFFFFF;
  float:right;
  margin:5px;
}

#container .nav_bar a.selected{
  background-color:#0E3F0C;
}

#content{
  min-height: 250px;
  padding:10px;
}

#right{
  width:74%;
  padding:5px;
  float:right;
  min-height:250px;
}
#left{
  width:23%;
  border-right: 1px dotted;
  float:left;
  min-height:250px;
  padding:5px;
}
.expense{
  margin:5px;
}

.expense div{
  float:left;  
  width:120px;
}
.ex_cat span{
  display:inline-block;
  min-width:60px;
  padding:2px 4px;
  text-align:center;
}
.ex_date{
  width:150px;  
  padding:2px 4px;
}
.ex_date input, .ex_amount input{
  width:120px;
  padding:1px;
  border:1px solid #CECECE;
}

.ex_amount{
  text-align:right;
  width:150px;
  padding:2px 4px;
}
.ex_desc{
  width:300px !important; 
  padding:2px 4px;
}
.ex_desc input{
  width:280px;
  padding:1px;
  border:1px solid #CECECE;
}

.clear{
  clear:both;
}
.labl{
  font-weight:bold;
  text-align:left;   
}
.error{
  color:red;
}
input.error{
  border:1px solid red; 
}
